*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Helvetica;    

}

header{
    width: 100%;
    display: flex;
    background-image: url(../images/thumb-1920-707865.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
    padding: 15px 80px;
    background-attachment: fixed;
    flex-wrap: wrap;
}

a{
    padding: 0px 15px;
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
}

#links{
    display: flex;
    align-self: center;
}
#programador ul {
    display: flex;
    justify-content:center;
    
}

#programador a{
    padding: 0px 15px;
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
}

#programador a:hover{
    color:red;
}

a:hover{
    color: rgb(245, 21, 21);
}

header h1, p{
    text-transform: uppercase;
    color: white;
    width: 300px;
}

iframe{
    width:100%;
    height:100vh;
    background-attachment: fixed;
}



@media screen and (max-width:530px){
    header{
        background-image: url(../images/pexels-jeswin-thomas-1607862.jpg);
        
        padding: 30px;
    }
    
    a{
        padding: 0px 5px;
    }


    header h1{
        width:auto;
        font-size: 30px;
        color: rgb(250, 250, 250);
    }

    header p{
        min-width: 200px;
        width:80vw;
        color: white;
    }

    header p:hover{
        color: rgb(255, 0, 0);
        padding: 10px;
        border:4px solid black;
        border-radius: 10px;
    }

    header h1:hover{
        border-bottom:3px solid black;
        
        color: red;
    }

    #programador li {
        display: flex;
        flex-direction: column;
        }
    #programador a{
        padding: 5px;

    }
}