*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1B1B1B;
    text-decoration: none;
    list-style: none;
}


.sobrevivente{
    width:  100px;
    height: 150px;
   
}

#descricao{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

img{
   width: 50px;
   height: 50px;
}

header{
    width: 100%;
    height: 50px;
    background-color: white;
    translate: 5;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

header li, a{
    background-color: white;
}

a{
    padding: 0px 15px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
}

a:hover{
    color: rgb(245, 21, 21);
}

.sobreviventes{
    padding: 40px;
    color:white;
    display: flex;
    flex-direction: row;
}


.sobreviventes-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sobreviventes-1 p{
    width:230px;
}

.titulo{
    text-transform: uppercase;
    font-size: 30px;
    color: rgba(255, 0, 0, 0.795);
}

.especial h1, p{
    display: flex;
    flex-direction: column;
}

.ordem{
    display: flex;
    flex-direction: row;
    border: 5px solid black;
    border-radius: 30px;
    margin: 5px;
    padding:3px;
    
    
}

/*Segundo sobrevivente*/
.sobrevivente-2 {
    width: 100px;
    height: 150px;
}

.ordem-2{
    display: flex;
    flex-direction: row;
    border: 4.5px solid black;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
}

@media screen and (max-width:740px){
    

    header{
        height: 150px;
        
    }
    
    header ul li{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

   

    header ul li a{
       
        padding: 10px 15px;
        transition: 900ms;
    }

    #descricao{
        margin: auto;
        align-items: center;
        text-align: center;
    }
    
    .sobreviventes-1{
        justify-content:center;
        flex-direction: column;
        margin:auto;
    }
    .sobreviventes{
        padding: 0;
    }
    
    .ordem, .ordem-2{
        text-align: left;
        margin: auto;
        margin-top: 5px;
        
    }
    .ordem-2{
        margin-bottom: 25px;
    }
    
}